<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="/css/style.css">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script type="text/javascript" defer src="/js/script.js"></script>
    <title>Blog</title>
</head>
<body>
    <div class="container">
        <header>   
            <nav>
                <a href="/">Blog For You</a>
            </nav>
        </header>
        <%- body %>
    </div>
</body>
</html>