<div class="admin-title">
    <h2>Write a Blog</h2>
  </div>
  
  <form class="cform" action="/create" method="POST">
  
    <label name="title"><b>Title</b></label>
    <input type="text" required placeholder="Post Title" name="title">
  
    <label name="body"><b>Content</b></label>
    <textarea placeholder="Text goes here" required name="body" cols="50" rows="10"></textarea>
  
    <input type="submit" value="create" class="btn">
  
  </form>